<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .wrapper{width:240px;margin:30px auto;font-size:12px;font-family: "Microsoft YaHei UI";}
        .wrapper form .form-group{margin:10px 0px;}
        .wrapper form .form-group .error{color:#c40000;text-align: right;}
    </style>
</head>
<body ng-app="myApp" ng-controller="SignUpController">
    <div class="wrapper">
        <form name="signUpForm">
            <div class="form-group">
                <label>用户账号：</label>
                <input name="username" type="text" class="form-control" ng-model="userdata-username">
                <p class="error"></p>
            </div>
            <div class="form-group">
                <label>用户密码：</label>
                <input name="password" type="password" class="form-control" ng-model="userdata-password">
                <p class="error"></p>
            </div>
            <div class="form-group">
                <label>确认密码：</label>
                <input name="password2" type="password" class="form-control" ng-model="userdata-password2">
                <p class="error"></p>
            </div>
            <div class="form-group">
                <label></label>
                <input type="submit" class="form-control">
            </div>
        </form>
    </div>
    <script src="../js/angular-1.3.0.js"></script>
    <script>
        (function(){
            angular.module('myApp',[])
                .controller('SignUpController',function($scope){
                    $scope.userdata = {};
                    $scope.submitForm = function(){
                        console.log($scope.userdata);
                    }
                })
        })();
    </script>
</body>
</html>