<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .wrapper{width:240px;margin:30px auto;font-size:12px;font-family: "Microsoft YaHei UI";}
        .wrapper form .form-group{margin:10px 0px;}
        .wrapper form .form-group .error{color:#c40000;text-align: right;}
    </style>
</head>
<body ng-app="myApp" ng-controller="SignUpController">
    <div class="wrapper">

        <form name="signUpForm" ng-submit="submitForm()">
            <div class="form-group">
                <label>用户账号：</label>
                <input name="username" type="text" required class="form-control"
                       ng-minlength="4" ng-maxlength="32" ng-model="userdata.username">
                <p class="error" ng-if="signUpForm.username.$error.required && signUpForm.username.$touched">
                    用户账号不能为空
                </p>
                <p class="error" ng-if="(signUpForm.username.$error.minlength
                                        || signUpForm.username.$error.maxlength) && signUpForm.username.$touched">
                    用户账号长度为4至32之间
                </p>
            </div>
            <div class="form-group">
                <label>用户密码：</label>
                <!-- 文本框 -->
                <input name="password" type="password" required class="form-control"
                       ng-maxlength="10" ng-minlength="4" ng-model="userdata.password">
                <!-- 错误提示标签 -->
                <p class="error" ng-if="signUpForm.password.$error.required && signUpForm.password.$touched">
                    用户密码不能为空
                </p>
                <p class="error" ng-if="(signUpForm.password.$error.minlength
                                        || signUpForm.password.$error.maxlength)
                                        && signUpForm.password.$touched">
                    用户密码长度为4至32之间
                </p>
            </div>
            <div class="form-group">
                <!-- compare：匹配密码输入框的信息 -->
                <label>用户密码：</label>
                <input name="password2" type="password"  required class="form-control"
                       ng-maxlength="10" ng-minlength="4" ng-model="userdata.password2" compare="userdata.password">

            </div>
            <div class="form-group">
                <button class="form-control">注册</button>
            </div>
        </form>
    </div>
    <script src="../js/angular.min.js"></script>
    <script>
        var mymodule = angular.module('myApp',[]);
        mymodule.controller('SignUpController',function($scope){

            $scope.userdata = {
                /*username:'123',
                password:'123',
                password2:'123',
                */
            };

            $scope.submitForm = function(){
                console.log($scope.userdata);
                if($scope.signUpForm.$invalid){
                    alert('请检查您的信息！');
                }else{
                    alert("提交成功！");
                }
            }
        })

        mymodule.directive("compare",function(){
            var o = {};
            o.strict  = "AE";
            o.scope = {
                orgText:"=compare"
            };
            o.require = "ngModel";
            o.link = function(sco,ele,att,con){
                con.$validators.compare = function(v){
                    return v == sco.orgText;
                }
                sco.$watch("orgText",function(){
                    con.$validate();
                });
            }
            return 0;
        });

    </script>
</body>
</html>